.indigo {
  border: 20px solid indigo; 
  display: inline-block;
  min-width: 20em;
  min-height: 25em;
  border-radius: 50%; 
  border-left-color: transparent; 
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.blue {
  border: 20px solid blue; 
  display: inline-block;
  min-width: 20em;
  min-height: 25em;
  border-radius: 50%; 
  border-left-color: transparent; 
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.green {
  border: 20px solid green; 
  display: inline-block;
  min-width: 20em;
  min-height: 25em;
  border-radius: 50%; 
  border-left-color: transparent; 
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.yellow {
  border: 20px solid yellow; 
  display: inline-block;
  min-width: 20em;
  min-height: 25em;
  border-radius: 50%; 
  border-left-color: transparent; 
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.orange {
  border: 20px solid orange; 
  display: inline-block;
  min-width: 20em;
  min-height: 25em;
  border-radius: 50%; 
  border-left-color: transparent; 
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.red {
  border: 20px solid red; 
  display: inline-block;
  min-width: 20em;
  min-height: 25em;
  border-radius: 50%; 
  border-left-color: transparent; 
  border-right-color: transparent;
  border-bottom-color: transparent;
}

div {
  border: 20px solid #000; /* this is short hand for setting
                            the border's width, its type, and color */
  display: inline-block; /* a way of positioning elements */
  min-width: 20em; /* the two min styles make the shape */
  min-height: 25em; /* of the divs oblong*/
  border-radius: 50%; /* this makes the normally square div round */
  border-left-color: transparent; /* these remove the color from the left side */
  border-right-color: transparent; /* the right side */
  border-bottom-color: transparent; /* and the bottom of the circle */
}
